.widget {
  background: $light-blue;
  margin-bottom: $l-size;
}

.widget__message {
  border-bottom: .1rem solid lighten($color: $light-blue, $amount: 10%);
  color: $off-white;
  margin: 0;
  padding: $m-size;
  text-align: center;
}

.widget-header {
  background: $blue;
  color: $off-white;
  display: flex;
  justify-content: space-between;
  padding: $s-size;
}

.widget-header__title {
  margin: 0;
}